AllCops:
  Include:
    - Rakefile
    - Guardfile
    - Gemfile
    - config.ru
    - lib/**/*.rake
  Exclude:
    - db/schema.rb
    - config.ru
    - lib/**/*.rake
    - vendor/**/*
    - bin/*
    - node_modules/**/*

Rails:
  Enabled: true

# When seeding you want to output information to the console
Rails/Output:
  Exclude:
    - db/seeds.rb

# Use the standard github rubocop rules and rails rules
inherit_from:
  - .rubocop.github.yml
  - .rubocop.rails.yml
