set :branch, ENV.fetch("CAPISTRANO_BRANCH", "staging")
set :mb_sidekiq_concurrency, 1

server "<%= staging_hostname %>", user: "administrator", roles: %w(web app db cron backup redis sidekiq)

set :ssh_options, user: "administrator", forward_agent: true, keys: "~/.ssh/id_rsa"
